* {
  margin: auto;
}

#game {
  background-color: black;
}

#start-screen {
  background: url('../RebelHunterv1/startbg.jpg');
  background-repeat: no-repeat;
  background-size: 1260px;
  height: 1000px;
}

#game-name {
  font-family: Futura, sans-serif;
  font-size: 50px;
  letter-spacing: .20em;
  color: white;
  margin-top: 0px;
  padding: 30px 0px 30px 30px;
}

#headerblock {
  background-color: black;
  background-size: 1260px;
}

#prompt {
  font-family: Futura, sans-serif;
  font-size: 20px;
  font-variant:
  letter-spacing: -.05em;
  color: white;
  padding: 30px 0px 0px 30px;
}

#buttonspace {
  padding: 30px 0px 30px 30px;
}

#gamebuttons {
  font-family: Futura, sans-serif;
  font-size: 24px;
  height: 75px;
  width: 125px;
  letter-spacing: .15em;
  border-color: none;
}

.action-again {
  margin-right: 945px;
}

#endprompt {

}

/*#gameplay {
  background-color: ;
  height: 500px;
  width: 1200px;
  /*background-image: url("");*/
}*/

#darthvader {
  height: 300px;
  width: 200px;
}

#scoring {
  font-family: Futura, sans-serif;
  font-size: 50px;
  letter-spacing: .20em;
  color: white;
  margin-top: 0px;
  padding: 30px 0px 30px 30px;
}

#score {

}


#end-screen {
  font-family: Futura, sans-serif;
  color: white;
  background: url('../RebelHunterv1/endgame.png');
}

#end-note {
  font-family: Futura, sans-serif;
  color: white;
  padding: 0px 0px 0px 30px;
}

/*agents*/
.gameplay {
  width: 1260px;
  height: 500px;
  border: 1px solid black;
  display: inline-block;
  overflow: hidden; /* will contain if #first is longer than #second */
  background-image: url(../RebelHunterv1/startbg.jpg);
}

.player {
  background-color: none;
  width: 177px;
  height: 238px;
  position: absolute;
  z-index: 999;
  margin: 0px 0px 0px 30px;
  /*testing*/
  border: 2px solid white;
}

.enemy {
  background-color: none;
  width: 120px;
  height: 190px;
  float: right;
  position: absolute;
  left: 900px;
  margin: 50px 20px 0px 30px;
  /*testing*/
  border: 2px solid yellow;
}

.laserBeam {
  background-color: white;
  width: 100px;
  height: 5px;
  float: right;
  z-index: 1;
  position: absolute;
  margin: 75px 0px 0px 700px;
  /*testing*/
  border: 2px solid blue;
}
