* {
  margin: auto;
}

#game {
  background-color: black;
}

#start-screen {
  height: 1000px;
  background: url('../RebelHunterv1/startbg.jpg');
  background-repeat: no-repeat;
  background-size: 1260px;
}

#game-name {
  padding: 30px 0px 30px 30px;
  margin-top: 0px;
  font-size: 50px;
  letter-spacing: .20em;
  font-family: Futura, sans-serif;
  color: white;
}

#headerblock {
  background-color: black;
  background-size: 1260px;
}

#prompt {
  padding: 30px 0px 0px 30px;
  font-size: 20px;
  letter-spacing: -.05em;
  font-family: Futura, sans-serif;
  color: white;
}

#buttonspace {
  padding: 30px 0px 30px 30px;
}

.gamebuttons {
  width: 125px;
  height: 75px;
  border-color: none;
  font-size: 24px;
  letter-spacing: .15em;
  font-family: Futura, sans-serif;
}

.action-again {
  margin-right: 945px;
}

#endprompt {

}

// #gameplay {
//   width: 1200px;
//   height: 500px;
// }

#darthvader {
  width: 200px;
  height: 300px;
}

#scoring {
  padding: 30px 0px 30px 30px;
  margin-top: 0px;
  font-size: 50px;
  letter-spacing: .20em;
  font-family: Futura, sans-serif;
  color: white;
}

#score {

}

#end-screen {
  background: url('../RebelHunterv1/endgame.png');
  font-family: Futura, sans-serif;
  color: white;
}

#end-note {
  padding: 0px 0px 0px 30px;
  font-family: Futura, sans-serif;
  color: white;
}

// agents
.gameplay {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background: url('../RebelHunterv1/ingamebg.png');
  overflow: hidden; // will contain if #first is longer than #second
}

.player {
  position: absolute;
  z-index: 999;
  width: 177px;
  height: 238px;
  margin: 50px 0px 0px 30px;
  background-color: none;
  // border: 2px solid white;
}

.enemy {
  position: absolute;
  left: 900px;
  width: 120px;
  height: 190px;
  margin: 112px 20px 0px 30px;
  background-color: none;
  // border: 2px solid yellow;
}

.bolt {
  z-index: 1;
  left: -400px;
  position: absolute;
  width: 100px;
  height: 20px;
  margin: 125px 0px 0px 30px;
  background-color: none;
  // border: 2px solid blue;
}
